<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}titles{% endblock %}
        </title>
        {% block staticfiles %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css"/>
            <script type="text/javascript" src="{{ STATIC_URL }}jquery-2.0.3.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>