{% extends 'base.html' %}

{% block content %}
    <div id="titles"></div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var urls = {{ urls|safe }};
        urls.forEach(function(url){
            $.get({% url 'fetch' %}, {'url': url}, function(data) {
                $('#titles').append('<div>'+data.title+'</div>');
            });
        });
    </script>
{% endblock %}